.callout::after {
  content: "";
  width: 48px;
  height: 15px;
  border-radius: 8px;
  position: absolute;
  display: inline-block;
  background: rgb(var(--callout-color));
  margin-top: 0.3%;
  margin-left: auto;
  border: var(--border-lowOp);
  box-shadow: var(--sbs);
}

.callout {
  background: transparent;
}

body {
  --callout-border-width: 2px;
  --callout-border-opacity: 1;
}