/*
author: sailKite
source: https://discord.com/channels/686053708261228577/702656734631821413/1147201536171196416
*/

body{
  --custom-background-color-focused:#58371f;
  --custom-background-color-non-focused:#f4f2e9;
}

.workspace-ribbon.side-dock-ribbon.mod-left,
.workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed {
  --titlebar-background-focused: var(--custom-background-color-focused) !important;
  background-color:  var(--custom-background-color-focused) !important;
}

.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white):not(.is-collapsed) .workspace-ribbon.side-dock-ribbon.mod-left,
.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white):not(.is-collapsed) .workspace-ribbon.side-dock-ribbon.mod-left
{
    --titlebar-background-focused: var(--custom-background-color-focused) !important;
  background-color:  var(--custom-background-color-focused) !important;

}
.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white).is-focused .workspace-ribbon.side-dock-ribbon.mod-left,
.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white).is-focused .workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed
{
   --titlebar-background-focused: var(--custom-background-color-focused) !important;
  background-color: var(--custom-background-color-focused) !important;
}

.workspace-ribbon.side-dock-ribbon.mod-left::before,
.workspace-ribbon.side-dock-ribbon.mod-left > .sidebar-toggle-button {
  --titlebar-background: var(--custom-background-color-focused) !important;
}

.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white).is-focused .workspace-ribbon.side-dock-ribbon.mod-left::before,
.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white).is-focused .workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed > .sidebar-toggle-button
{
  --titlebar-background: var(--custom-background-color-focused) !important;
}

.workspace-ribbon.side-dock-ribbon.mod-left .clickable-icon
 {
  color: var(--custom-background-color-non-focused) !important;
}

.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white).is-focused .workspace-ribbon.side-dock-ribbon.mod-left .clickable-icon,
.is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame):not(.minimal-light-white).is-focused .workspace-ribbon.side-dock-ribbon.mod-left.is-collapsed .clickable-icon
{
  color: var(--custom-background-color-non-focused) !important;
}

/* .workspace-leaf-content,
.workspace-tab-header-container,
.workspace-tab-header-container.sidebar-toggle-button.mod-right,
.workspace-tab-header-container.sidebar-toggle-button.mod-right .clickable-icon{
  background-color:  var(--custom-background-color-non-focused) !important;
  color: var(--custom-background-color-focused) !important;
} */

